<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=670, initial-scale=0.45, minimum-scale=0.45"/>

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap/assets/ico/favicon.png">
    <title>{%block title%} {%endblock%}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/custom/css/base.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/js/html5shiv.js"></script>
      <script src="/static/bootstrap/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>



