{% extends "base.html" %}

{% block title %}
Text Reminders
{% endblock %}
{% block content%}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
  $(function() {
     $("#id_date").datepicker();
     $("#id_date").datepicker('setDate', new Date());
   });
</script>

<div class="container">
  <form class="form-signin" action="" method="post">
    {% csrf_token %}   
    <h2 class="form-signin-heading">Schedule Text Reminder</h2>
{% if success %}
<div class="alert alert-success">Successfully created reminder!</div>
{% endif %}
<p>
<label for="id_phone">Phone</label>
<input id="id_phone" maxlength="20" name="phone" type="text" placeholder="XXX-XXX-XXXX" class="form-control">
</p>
<p>
<label for="id_hour">Time</label> 
 </p>
<select id="id_hour" name="hour">
  {% for hour in hours  %}
  <option value="{{hour}}">{{hour}}</option>
  <p>{{ icon }}</p>
  {% endfor %}
</select>
:
<select id="id_minute" name="minute">
  {% for minute in minutes  %}
  <option value="{{minute}}">{{minute}}</option>
  <p>{{ icon }}</p>
  {% endfor %}
</select>

<select id="id_ampm" name="ampm">
  <option value="AM">AM</option>
  <option value="PM">PM</option>
</select>

<select id="id_timezone" name="timezone">
  {% for timezone in timezones  %}
  <option value="{{timezone}}">{{timezone}}</option>
  <p>{{ icon }}</p>
  {% endfor %}
</select>

</p>

<p>
<label for="id_date">Date</label>
<input type="text" id="id_date" name="date" class="form-control"/>
</p>


<p><label for="id_message">Message</label>
<textarea id="id_message" maxlength="180" name="message" type="textarea" rows="4" cols="30" class="form-control"></textarea>
</label></p>

<button class="btn btn-lg btn-primary btn-block" type="submit">Create my Reminder!</button>
  </form>
  
</div> <!-- /container -->

{% endblock %}
