{% extends "base.html" %}
{% block title %}
Text Reminders
{% endblock %}
{% block content%}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

<script src="http://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
<script>


  $(function() {
  var currentTime = new Date();
  var hours = currentTime.getHours();
  var minutes = currentTime.getMinutes() ;
  var rounded_minutes = Math.round(minutes/5) * 5;
  var mid='AM';  
  if(hours==0){ //At 00 hours we need to show 12 am
  hours=12;
  }
  else if(hours>12){
  hours=hours%12;
  mid='PM';
  }

  var tz = jstz.determine(); // Determines the time zone of the browser client
  $("#timezone").text(tz.name()); // Returns the name of the time zone eg "Europe/Berlin"
  $("#id_timezone").val(tz.name()); 
  var n = currentTime.getTimezoneOffset();
  




  $("#id_minute").val(rounded_minutes).change();   
  $("#id_hour").val(hours).change();   
  $("#id_ampm").val(mid).change();

  $("#id_date").datepicker();
  $("#id_date").datepicker('setDate', new Date());
  
  });

</script>


<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
      <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel">Confirm Phone Number</h3>
  </div>
  <div class="modal-body">
    <p>Just to make sure you're not a spammer, we've sent a verification code to you at {{ phone }}. Please enter it below.</p>
    <form class="form-signin" action="" method="post" id="phone_verify">
        {% csrf_token %}
	Verification Code: <input type="text" name="code"><br>
	<input type="hidden" name="phone" value="{{phone}}">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary" name="phone_form" form="phone_verify" value="Submit"/>
  </div>
</div>
</div>
</div>

{% if activating %}
<script type="text/javascript">
$(document).ready(function(){
  $('#myModal').modal('show');
});
</script>
{% endif %}


<div class="container">
  <form class="form-signin" action="" method="post">
    {% csrf_token %}   
    <h2 class="form-signin-heading">Schedule Text Reminder</h2>
{% if success %}
<div class="alert alert-success">Successfully created reminder!</div>
{% endif %}
<p>
<label for="id_phone">Phone</label>
<input id="id_phone" maxlength="20" name="phone" type="text" placeholder="XXX-XXX-XXXX" class="form-control">
</p>
<p>
<label for="id_hour">Time</label> 
 </p>
<select id="id_hour" name="hour">
  {% for hour in hours  %}
  <option value="{{hour}}">{{hour}}</option>
  <p>{{ icon }}</p>
  {% endfor %}
</select>
:
<select id="id_minute" name="minute">
  {% for minute in minutes  %}
  <option value="{{minute}}">{{minute}}</option>
  <p>{{ icon }}</p>
  {% endfor %}
</select>

<select id="id_ampm" name="ampm">
  <option value="AM">AM</option>
  <option value="PM">PM</option>
</select>

<text id="timezone"></text>
<input type="hidden" name="timezone" value="" id="id_timezone"/>
</p>

<p>
<label for="id_date">Date</label>
<input type="text" id="id_date" name="date" class="form-control"/>
</p>


<p><label for="id_message">Message</label>
<textarea id="id_message" maxlength="180" name="message" type="textarea" rows="4" cols="30" class="form-control"></textarea>
</label></p>

<button class="btn btn-lg btn-primary btn-block" type="submit">Create my Reminder!</button>
  </form>
  
</div> <!-- /container -->

{% endblock %}
